
*{
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-decoration-color: none;

}
.container1{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: background-color .3s,transform 7s;
    transition-timing-function: ease-in-out;
    z-index: 100;
   
    
}


.noti {
    color: white;
    font-size: 17px;
    margin-left: 32px;
    font-weight: 700;
    word-spacing: 60px;
    
}
.profile img{
    height: 32px;
    width: 35px;

    cursor: pointer;
    margin-left: 678px;
}

.noti:hover{
    color: rgb(255, 0, 0);
   
    
}    

.logo{
    height: 47px;
    width: 86px;
    margin-left: 20px;
}         
.bg-center{
    background-image: linear-gradient(to bottom,rgb(0 0 0 / 91%), rgb(0 0 0 / 0%)),url('https://res.cloudinary.com/dihrwghx2/image/upload/v1698161581/netflix/ixuvbjsfsg7fj6zbfqcu.jpg');
}          
       

.container2{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

}
.container2::-webkit-scrollbar{
    display: none;
}

.poster{
    height: 285px;
    width: 204px;
    margin-top: 8px;
    margin-bottom: 53px;
    margin-left: 40px;
    cursor: pointer;
    transition-duration: .4s;
    
}
.poster:hover{
    transform: scale(1.1);
    z-index: 100;
}



.smallPoster{
    max-height: 100px;
    margin-right: 10px;
    cursor: pointer;
    transition-duration: .4s;
}
.smallPoster:hover{
    transform: scale(1.1);
}

.footer {
    width: 70%;
    margin: 50px auto auto;
    height: 240px;
}

.list-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.column {
    display: flex;
    margin-bottom: 1.3rem;
    flex-direction: column;
}

.column a {
    text-decoration: none;
    color: grey;
    font-size: 13px;
    margin-bottom: 15px;
}

.column a:hover {
    text-decoration: underline;
}

.footer button {
    padding: 7px;
    color: gray;
    background: transparent;
    border-color: gray;
    border-style: solid;
}

.bottom p {
    color: gray;
    font-size: small;
    margin-top: 1rem;
}
.bottom p a{
    color: gray;
    text-decoration: none;
 }
.bottom p a:hover{
   text-decoration: underline;
}
.footer button:hover {
    transition: background-color 1s;
    background-color: gray;
    color: #fff;
}